.button {
  @include font(large);

  display: flex;
  justify-content: center;
  align-items: center;

  &__square {
    width: 100%;
    height: 34px;

    border-radius: border-radius(round);
  }

  &__round {
    width: 45px;
    height: 45px;
    border-radius: border-radius(circle);
  }

  color: color(light);
  text-transform: uppercase;

  &:active {
    opacity: 0.8;
  }

  &__icon {
    height: 19px;
    margin-right: 2px;
  }

  &__new {
    background-color: color(info);
  }

  &__edit {
    background-color: color(alert);
  }

  &__save {
    background-color: color(success);
  }

  @include media(tablet) {
    &__square {
      width: 90px;
    }
  }
}
