.client-list {
  &__wrapper {
    padding: {
      top: space(xxlarge);
      bottom: space(xxlarge);
    }
  }

  &__header {
    @include font(xxlarge);

    display: flex;
    margin-bottom: space(xlarge);
    border-bottom: 1px solid color(light, darker);
  }

  &__heading {
    margin-left: space(base);
  }

  &__item {
    & + & {
      margin-top: space(small);
    }
  }
}
