.home {
  padding: {
    top: space(large);
    bottom: space(xxlarge);
  }

  &__add-button {
    position: fixed;
    right: space(large);
    bottom: space(large);
    z-index: 9;
  }

  @include media(tablet) {
    padding-top: space(xxlarge);

    &__add-button {
      position: initial;
    }
  }
}
