.home {
  &__add-button {
    position: fixed;
    right: space(large);
    bottom: space(large);
    z-index: 9;
  }

  @include media(tablet) {
    &__add-button {
      position: initial;
    }
  }
}
