.icon {
  &--small {
    width: 19px;
    height: 19px;
  }

  &--medium {
    width: 25px;
    height: 25px;
  }

  &--spin {
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
