$colors: (
  light: (
    base: #fff,
    light: #f6f6f6,
    dark: #dddddd,
  ),
  dark: (
    // base: #000,
    // darker: #171717,
    // dark: #202124,
    // light: #303134,
    light: #616161,
    lighter: #999,
  ),
  alert: #e18f53,
  danger: #ec2424,
  info: #4486ea,
  success: #2acc30,
);

@function color($color, $mod: base) {
  $color-palette: map-get($colors, $color);

  @if $color-palette == null {
    @error '(#{$color}) does not exist on $colors';
  }

  @if type-of($color-palette) == map {
    $color-mod: map-get($color-palette, $mod);

    @if $color-mod == null {
      @error '(#{$color}, #{$mod}) does not exist on $colors';
    }

    @return $color-mod;
  }

  @return $color-palette;
}
