@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@mixin skeleton() {
  background-color: color(dark, light);
  opacity: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
}
