<div class="client-list__wrapper container">
  <header class="client-list__header">
    <img src="assets/person.svg" alt="" />
    <h1 class="client-list__heading">Listagem de Clientes</h1>

    <div class="client-list__add-button">
      <app-button
        role="new"
        icon="plus"
        ariaLabel="Adicionar um novo cliente"
        [type]="isMobile ? 'round' : 'square'"
        [iconOnly]="isMobile"
      >Novo</app-button>
    </div>
  </header>

  <ul class="client-list">
    <li
      *ngFor="let clientInfo of clientList"
      class="client-list__item"
    >
      <app-client-info [clientInfo]="clientInfo" />
    </li>
  </ul>

  <div class="client-list__message">
    <app-info-message text="Exibindo {{ clientCount }} de {{ clientCount }} clientes" />
  </div>
</div>
