<div class="client-info__loader" *ngIf="isLoading | async; else content"></div>

<ng-template #content>
  <div class="client-info">
    <span class="client-info__field client-info__name">{{
      clientInfo?.name
    }}</span>

    <span class="client-info__field client-info__cnpj">{{
      clientInfo?.cnpj | cnpj
    }}</span>

    <span class="client-info__field client-info__status">
      <app-status [status]="clientInfo?.status" />
    </span>

    <div class="client-info__field client-info__action">
      <app-button role="edit" (onClick)="edit()">Editar</app-button>
    </div>
  </div>
</ng-template>
