<div class="client-form">
  <div class="form-field">
    <label class="form-field__label" for="name">Nome</label>
    <input class="form-field__input" id="name" type="text" />
  </div>

  <div class="form-field">
    <label class="form-field__label" for="cnpj">CNPJ</label>
    <input class="form-field__input" id="cnpj" type="text" />
  </div>

  <div class="form-field">
    <label class="form-field__label" for="status">Status</label>
    <input class="form-field__input" id="status" type="text" />
  </div>

  <div class="client-form__save-button">
    <app-button role="save">Salvar</app-button>
  </div>
</div>
